<!-- templates/template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background-color: aquamarine;
        }
        h1 {
            text-align: center;
            text-decoration: underline;
            color: magenta;
        }
        h2 {
            text-align: center;
            text-decoration: underline;
            color: red;
        }
        p {
            text-align: left;
            color: black;
        }
    </style>
</head>
<body>
<div>
    <h1>
        Work Experience
    </h1>
    <h2>
        PSC Biotech India LLP- Remote November 2022 – April 2024 Application Support Engineer
    </h2>
    <p>
    * Utilizing the Freshdesk ticketing tool and ACE (Production, Sandbox, and Validation) Instances to address client requests and inquiries.<br>
    * Delivering software or technical support services, usually within a clearly outlined moderately complex project  as per standard operating procedures (SOP).<br>
    * Managed and supported SaaS applications for business customers in such a way that their performance could be optimized and their users satisfied.<br>
    * In supporting service cloud applications to these business clients, I looked into various problems, made necessary adjustments and even customization in order to ensure that these applications met the desired requirements.<br>
    * Collaborating with cross-functional teams to swiftly diagnose and resolve critical system issues, minimizing operational downtime.<br>
    * Conducting troubleshooting on various workflows, including identifying missing records, managing sign-offs, and facilitating transitions.<br>
    * Engaging directly with development teams and customer success teams to identify, replicate, and resolve software bugs.<br>
    * When it came to ensuring compliance with data security regulations, my role involved using AWS IAM for RBAC (Role-Based Access Control) as well as MFA (Multi-Factor Authentication) in order for MFA to increase the level of security on behalf of the clients using such SaaS-based systems.<br>
    * Adding knowledge base articles to empower support engineers and customers with relevant information.<br>
    * Achieving a 95% customer satisfaction rating by effectively resolving 80% of issues through proficient user assistance.
    </p>
    <h2>
        Aycom Business Solution Pvt Ltd- New Delhi September 2021 – November 2022 Technical Support Engineer
    </h2>
    <p>
    * Utilized Autotask, a Graphic User Interface, as a ticketing tool service to streamline the ticket management process.<br>
    * Surpassed productivity and quality benchmarks set by the department, including metrics such as call volume, call duration, quality scores, and sales.<br>
    * Escalated support desk tickets to Level 3 support in critical situations or after exhaustive efforts on a single ticket.<br>
    * Implemented Logic Monitor server for monitoring instances, ensuring adherence to predefined logic. Any instance deviating from the logic triggers alerts on the dashboard.
    </p>
    <h2>
        Relied Consultancy Services Pvt Ltd - Noida June 2019 – May 2021 Technical Support Engineer
    </h2>
    <p>
    * Provided tier I and tier II troubleshooting support for software and hardware issues related to IPTV, VoIP, and IP-DSL over the telephone.<br>
    * Resolved wired and wireless internet connection, email, browser, and home networking issues on both Mac OS and Windows platforms.<br>
    * Maintained a high level of customer satisfaction in a dynamic call center setting.<br>
    * Assumed responsibility for escalations and conducted advanced troubleshooting to achieve swift and effective resolutions.
    </p>
</div>
</body>
</html>
